<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">상품명</th>
					<th scope="col">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="goods : ${goodsList}" th:onclick="|location.href='@{/goods/{id}(id = ${goods.goodsId})}'|">
					<td th:text="${goods.goodsId}"></td>
					<td th:text="${goods.goodsNm}"></td>
					<td th:text="${goods.desc}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>