<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>
	<div class="container">
		home
		<!-- <button type="button" th:onclick="|location.href='@{/login}'|">로그인</button>
		<button type="button" th:onclick="|location.href='@{/member/join}'|">회원가입</button> -->
	</div>
	<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>