<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>
	<main class="form-signin w-100 m-auto">
		<form action="/login" th:action th:object="${login}" method="post">
			<!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class="field-error" th:each="err: ${#fields.globalErrors()}"
						th:text="${err}">전체 오류 메시지</p>
			</div>

			<div class="form-floating">
				<input type="text" th:field="${login.loginId}" class="form-control" placeholder="Login ID"/>
				<label for="loginId">Login ID</label>
				<div class="field-error" th:errors="*{loginId}"></div>
			</div>
			<div class="form-floating">
				<input type="password" th:field="*{password}" class="form-control" placeholder="Password" />
				<label for="password">Password</label>
				<div class="field-error" th:errors="*{password}"></div>
			</div>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>
	</main>
	<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>